* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

ul,
li {
  list-style: none;
}

body {
  margin: 0;
  background-color: #09090a;
  font-family: "Poppins", sans-serif;
  color: #fff;
  max-width: 1440px;
  margin: 0 auto;
}

.container {
  max-width: 1440px;

  margin: 0 auto;
}

.header {
  display: flex;
  padding: 40px;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 60px;
}

form,
.days,
.day {
  display: flex;
}

form {
  padding: 20px 40px;
}

.habits {
  margin-top: 64px;
  display: flex;
  flex-direction: column;
  gap: 24px;
}

.habit {
  display: flex;
  font-size: 2rem;

  height: 64px;
  width: 64px;
  align-items: center;
  justify-content: center;
}

.days {
  gap: 48px;
  margin-left: 32px;
}

.day {
  flex-direction: column;
  gap: 24px;
  align-items: center;
}

.day div {
  font-size: 1.25rem;
  margin-bottom: 8px;
}

button {
  display: flex;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  padding: 16px 24px;
  gap: 12px;
  background-color: transparent;
  color: #fff;
  border: 2px solid #8b5cf6;
  border-radius: 10px;
  align-items: center;
}

input {
  appearance: none;
  -webkit-appearance: none;
  height: 64px;
  width: 64px;
  background: #18181b;
  border: 2px solid #27272a;
  border-radius: 8px;
}

input:checked {
  appearance: none;
  -webkit-appearance: none;
  height: 64px;
  width: 64px;
  background: #8b5cf6;
  border: 2px solid #a78bfa;
  border-radius: 8px;
}
